@model IEnumerable<ICATask4.Controllers.staffDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.staffCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <td>
            @Html.DisplayNameFor(model => model.lastName)
        </td>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.staffCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.ActionLink("View Skills", "Skills", new { staffCode = item.staffCode })
        </td>
    </tr>
}

</table>
