@model IEnumerable<ICATask4.Controllers.buDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.businessUnitCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.businessUnitCode)
        </td>
        <td>
            @Html.ActionLink("View Staff", "Index", "Staff", new { buCode = item.businessUnitCode  }, null)
        </td>
    </tr>
}

</table>
